# MongoDB
MONGO_URI=mongodb+srv://hamzamalik1126:Hamzamalik11@cluster0.qxg3k4r.mongodb.net/?appName=Cluster0

#JWT
JWT_SECRET=MY_SECRET_KEY

#Cloudinary
CLOUDINARY_CLOUD_NAME=de2xzzyfl
CLOUDINARY_API_KEY=454969366436818
CLOUDINARY_API_SECRET=NBOTGGLTp07FlaJNs4v4kNqKQa0